---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border-color;
  }

	h1, h2, h3, h4, h5, h6 {
		.header-link {
			position: relative;
			left: 0.5em;
			opacity: 0;
			font-size: 0.8em;
			-webkit-transition: opacity 0.2s ease-in-out 0.1s;
			-moz-transition: opacity 0.2s ease-in-out 0.1s;
			-o-transition: opacity 0.2s ease-in-out 0.1s;
			transition: opacity 0.2s ease-in-out 0.1s;
		}

		&:hover .header-link {
			opacity: 1;
		}
	}

  p,
  li,
  dl {
    font-size: 0.75em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }
}


/*this line manipulates size of all feature row images*/
.archive__item-teaser img { width: 70%; }
/* these are the exceptions */
.archive__item-teaser img[src="/foresightinteractive/assets/images/image_yellow.png"],
.archive__item-teaser img[src="/foresightinteractive/assets/images/image_blue.png"],
.archive__item-teaser img[src="/foresightinteractive/assets/images/image_green.png"],
.archive__item-teaser img[src="/foresightinteractive/assets/images/image_red.png"],
.archive__item-teaser img[src="/foresightinteractive/assets/images/ScenarioArtboard.png"] { width: 100%; }

